@font-face {
  font-family: "Muli-Regular";
  src: url("../../fonts/muli/Muli-Regular.ttf");
}

@font-face {
  font-family: "Muli-SemiBold";
  src: url("../../fonts/muli/Muli-SemiBold.ttf");
}

@font-face {
  font-family: "Muli-Bold";
  src: url("../../fonts/muli/Muli-Bold.ttf");
}

.login-scope * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.login-scope body {
  font-family: "Muli-Regular";
  color: #666;
  font-size: 13px;
  margin: 0;
}

.login-scope input,
.login-scope textarea,
.login-scope select,
.login-scope button {
  font-family: "Muli-Regular";
  color: #333;
  font-size: 13px;
}

.login-scope p,
.login-scope h1,
.login-scope h2,
.login-scope h3,
.login-scope h4,
.login-scope h5,
.login-scope h6,
.login-scope ul {
  margin: 0;
}

.login-scope img {
  max-width: 100%;
}

.login-scope ul {
  padding-left: 0;
  margin-bottom: 0;
}

.login-scope a:hover {
  text-decoration: none;
}

.login-scope :focus {
  outline: none;
}

.login-scope .wrapper {
  margin-bottom: -24px;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.login-scope .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 850px;
  margin: auto;
  padding-top: 68px;
  padding-bottom: 48px;
  border-radius: 20px; 
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.login-scope .inner h3 {
  text-transform: uppercase;
  font-size: 22px;
  font-family: "Muli-Bold";
  text-align: center;
  margin-bottom: 32px;
  color: #333;
  letter-spacing: 2px;
}

.login-scope form {
  width: 50%;
  padding-left: 45px;
}

.login-scope .form-group {
  display: flex;
}

.login-scope .form-group .form-wrapper {
  width: 50%;
}

.login-scope .form-group .form-wrapper:first-child {
  margin-right: 20px;
}

.login-scope .form-wrapper {
  margin-bottom: 17px;
}

.login-scope .form-wrapper label {
  margin-bottom: 9px;
  display: block;
}

.login-scope .form-control {
  border: 1px solid #ccc;
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 20px;
  border-radius: 20px;
  font-family: "Muli-Bold";
  background: none;
}

.login-scope .form-control:focus {
  border: 1px solid #ae3c33;
}

.login-scope select {
  cursor: pointer;
  padding-left: 20px;
}

.login-scope select option[value=""][disabled] {
  display: none;
}

.login-scope button {
  border: none;
  width: 152px;
  height: 40px;
  margin: auto;
  margin-top: 29px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: #ae3c33;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Muli-SemiBold";
  border-radius: 20px;
  overflow: hidden;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.login-scope button:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f11a09;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.login-scope button:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.login-scope .checkbox {
  position: relative;
}

.login-scope .checkbox label {
  padding-left: 22px;
  cursor: pointer;
}

.login-scope .checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.login-scope .checkbox input:checked~.checkmark:after {
  display: block;
}

.login-scope .checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 12px;
  width: 13px;
  border-radius: 2px;
  background-color: #ebebeb;
  border: 1px solid #ccc;
  font-family: Material-Design-Iconic-Font;
  color: #000;
  font-size: 10px;
  font-weight: bolder;
}

.login-scope .checkmark:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  content: '\f26b';
}

@media (max-width: 991px) {
  .login-scope .inner {
    min-width: 768px;
  }
}

@media (max-width: 767px) {
  .login-scope .inner {
    min-width: auto;
    background: none;
    padding-top: 0;
    padding-bottom: 0;
  }

  .login-scope form {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.qr-code-area {
    margin: 20px 30px;
    border: 1px dashed #ccc;
    padding: 30px;
    display: flex;
    justify-content: center; 
    align-items: center;  
    flex-direction: column; 
}

.qr-code-area qrcode{
    margin-top: 50px;
}
