body {
    margin:0;
    padding: 0;
}

.wrapper {
    border: 1px solid #ff0000;
    width: 100%;
    height: 500px;
}

.menu {
    border: 1px solid #99ff66;
    width: 100%;
    height: 500px;
}

#main {
    border: 1px solid #ff00ff;
    width: 100%;
    height: 500px;
}

.footer{
    border: 1px solid #ffcc99;
    width: 100%;
    height: 500px;
}