body {
    margin:0;
    padding: 0;
}

.wrapper {
    border: 1px solid #ff0000;
    width: 100%;
    height: 800px;
    margin: 0;
}

.header {
    border: 1px solid #0d0fb1;
    width: 100%;
    height: 120px;
}

.menu {
    border: 1px solid #99ff66;
    width: 100%;
    height: 100px;
}

#main {
    border: 1px solid #ff00ff;
    width: 100%;
    height: 300px;
}

.footer{
    border: 1px solid #ffcc99;
    width: 100%;
    height: 150px;
}